* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  font-family: "JetBrains Mono", monospace, sans-serif;
  font-weight: 600;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
body .title {
  padding-top: 2vh;
  font-size: 30px;
}
body .gui {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 2vh;
  padding-bottom: 2vh;
  width: 100vw;
  font-size: 20px;
}
body .grid-container {
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-column), 1fr);
  height: 70vw;
  width: 70vw;
  padding: 0.5vh;
  background-color: lightgray;
}
body .grid-container .grid-piece {
  border: 1px solid #ddd;
  text-align: center;
  width: 100%;
}
body .grid-container .grid-piece--snake {
  border: 1px solid #ddd;
  text-align: center;
  width: 100%;
  background-color: rgb(0, 102, 102);
}
body .grid-container .grid-piece--food {
  border: 1px solid #ddd;
  text-align: center;
  width: 100%;
  background-color: blue;
}

@media screen and (min-width: 768px) {
  body .grid-container {
    height: 80vh;
    width: 80vh;
  }
}
.gui__start-btn {
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.gui__start-btn:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.gui__start-btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.gui__start-btn:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}